# Sistema operativo
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Editores e IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.code-workspace

# Archivos temporales
*.log
*.tmp
*.swp
*.swo
*~
